.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}
.searchAndSelected {
  width: 40%;
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.searchBarContainer {
  margin-bottom: 16px;
  justify-self: center;
}
.selectedCoursesContainer {
  height: 65vh;
}

.scheduledAndUnsched {
  height: inherit;
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.gridContainer
{
  flex: 1;
  overflow-y: auto;
}

.unscheduledTableContainer
{
  flex-shrink: 0;
}
