.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  padding: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 95, 238);
  margin: 0;
  max-width:none;
}
