/* src/styles/ScheduleCard.css */

.schedule-card {
  border-radius: 4px;
  margin: 0 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1000;
  font-size: clamp(9px, clamp(9px, 0.8vw, 15px), 2vh);
}

.schedule-card-name {
  font-size: clamp(9px, 1.1em, 15px);
}

.schedule-card-location {
  font-size: clamp(9px, 0.9em, 15px);
}

.schedule-card-time {
  font-size: clamp(9px, 0.8em, 15px);
}
