/* src/styles/ScheduleCard.css */

.schedule-card {
  border-radius: 4px;
  margin: 0 2px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.schedule-card-name {
  font-size: 1.1em;
}

.schedule-card-location {
  font-size: 0.9em;
}

.schedule-card-time {
  font-size: 0.8em;
}
