.pullUpHeader
{
    color: #FF0000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.unsDropDownButton {
  color: #FF0000;
  font-size: 20px;
  align-items: flex-end;
}