.pullUpHeader
{
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.dropDownButton {
  color: #000000;
  font-size: 20px;
  align-items: flex-end;
}