/* Global styling applied to the entire application 
   handles removal of any unwanted margins and paddings to the body
   as well as setting the background color for the entire application 
*/
:root,
html,
body {
  background-color: rgb(234, 240, 241);
  padding: 0;
  margin: 0;
  height: 100%;
}
